/* * {
    margin: 0;
    padding: 0;
}


body {
    color: black;
} */

header {
    padding: 20px 35px;
    background-color: #021F4B;
}
header h1 {
    font-weight: bold;
    font-size: 60px;
    /* margin:0; */
    color: white;
    /* display: inline; */
    
}

header a {
    color:white;
    float: right;
    margin-left: 30px;
}



header nav ul li {
    display: inline;
}

header nav ul li a 

#nav-links{
    margin: 0 30px;
    font-size: 40px;
}

main {
    color: white;
    font-size: 20px;
    padding: 0px;
}

section {
    padding: 10px 0px;
}

.intro {
    background-image:url(../images/mainphoto.jpg);
    height: 800px;
   background-size:cover ;
 
    
  

    
}

h2 {
    padding: 10px 0px;
}